{% extends "home.html" %}

{% block title %}Adicionar refeição{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'create_meal.css' %}">
{% endblock css %}

{% block content %}
    <h2>Adicionar refeição</h2>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
{% endblock content %}